<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="" href="/css/style.css">
    <title>Main</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
             <li>
                <a href="/hbstest">Test-nav</a>
            </li>
        </ul>
    </nav>

    {{{body}}}

</body>
</html>